/*
Colours used

Primary colour (navy): #35404f
Primary colour (teal): #248f8f
Primary colour (lighter teal): #7cbcbc
Secondary colour (sea foam): #86e8af
Secondary colour (coral): #e35f56
*/

/*Display div boxes
div {
border: 1px solid red;
}
*/

/*General*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

/*Header*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0
}

.nav-bar {
  background-color: #35404f;
  border: 1px solid #35404f;
}

.navigation {
  text-align: center;
  padding-right: 50px;
}

.navigation > li {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 0 10px;
}

.introduction {
  height: 300px;
  padding: 60px 0;
  margin-bottom: 30px;
  text-align: center;
  background-color: #248f8f;
  color: #ffffff;
  line-height: 50px;
}

.introduction h1 {
  font-size: 60px;
}

.introduction span {
  font-size: 30px;
}

/*Fonts*/
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/*Links*/
.nav-bar a {
  color: #ffffff;
  text-decoration: none;
}

.nav-bar a:hover,
.nav-bar a:focus {
  color: #7cbcbc;
}

nav .active {
  color: #7cbcbc;
}

.contact a {
  text-decoration: none;
  color: #248f8f;
}

.contact a:hover,
.contact a:focus {
  color: #7cbcbc;
}

/*Button*/
button,
.button {
  text-decoration: none;
  border: none;
  font-family: inherit;
  background-color: #35404f;
  font-size: 16px;
  color: white !important;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #248f8f;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*Layout styling*/
.wrapper {
  background-color: #f0f2f5;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
}

.columns-container {
  padding: 0 20px;
  white-space: nowrap;
  text-align: center;
}

.column-4 {
  width: 23.5%;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}

.column-4:last-child {
  margin-right: 0;
}

.column-4 img {
  max-width: 100%;
  border: 2px solid #248f8f;
}

/*Contact*/
.contact {
  text-align: center;
}

.contact-details {
  text-align: center;
}

.contact-button {
  text-align: center;
  margin: 30px;
}

.behance-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
}

/*About*/
.about {
  padding: 0 150px;
}

.heading {
  text-align: center;
}

.download {
  text-align: center;
}

.seattle {
  padding: 0 150px;
  margin-top: 50px;
  stroke-dasharray: 2800;
  stroke-dashoffset: 2800;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*Media queries*/
/*Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 991px) {
  .about {
    padding: 0 0;
  }
  .seattle {
    padding: 0 0;
  }
  .column-4 {
    width: 48%;
    margin-right: 4%;
  }
  .column-4:nth-child(2n) {
    margin-right: 0;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767px) {
  .logo {
    width: 200px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575px) {
  .navigation > li {
    display: block;
  }
  .introduction h1 {
    font-size: 30px;
  }
  .introduction span {
    font-size: 24px;
  }
  .introduction {
    height: 135px;
    padding: 1px 0;
  }
  .column-4 {
    width: 100%;
    margin-right: 0%;
  }
}
